@model List<Album>

<h2>Edit Album</h2>
<div class="col-1">
    <a asp-controller="Blog" asp-action="Index" class="btn btn-outline-secondary form-control">Back to
        Album</a>
</div>
<br />
<div class="col-1">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-secondary form-control">Back to
        Admin</a>
</div>
<br />

<div class="col-6">
    <a asp-controller="Album" asp-action="Upload" class="btn btn-primary form-control">Upload</a>
</div>
<hr />

@foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
{
    <li>
        @* <a asp-controller="" asp-action=""> *@
        <div>
            <p>@obj.Image</p>
            <p>@obj.Category</p>
            <p>@obj.UploadTime</p>
        </div>
        @* </a> *@
    </li>
}