<a asp-controller="Academic" asp-action="Index">Academics</a>
<br />
<a asp-controller="Project" asp-action="Index">Projects</a>
<br />
<a asp-controller="Photo" asp-action="Index">Photos</a>
<br />
<a asp-controller="Band" asp-action="Index">Band</a>