@model List<Album>
@foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
{
    <li>
        <a asp-controller="Blog" asp-action="BlogDetails">
            <div>
                <p>@obj.Image</p>
                <p>@obj.Category</p>
            </div>
        </a>
    </li>
}