<a asp-controller="academic" asp-action="Index">Academics</a>
<a asp-controller="Projects" asp-action="Index">Projects</a>
<a asp-controller="Photos" asp-action="Index">Photos</a>
<a asp-controller="Band" asp-action="Index">Band</a>