@model List<Blog>
@foreach (var obj in Model.OrderBy(u => u.BlogId))
{
    <li>
        <a asp-controller="Blog" asp-action="BlogDetails">
            <div>
                <p>@obj.BlogId</p>
                <p>@obj.Title</p>
            </div>
        </a>
    </li>
}
@* <img src="\images\IMG_0066.JPG" alt=""> *@
