@model List<Photo>

<table class="table">
    <thead>
        <tr>
            <th>Photo ID</th>
            <th>Image</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var photo in Model)
        {
            <tr>
                <td>@photo.PhotoId</td>
                <td><img src="@photo.FilePath" alt="Photo" width="100" /></td>
                <td>@photo.DisplayOrder</td>
            </tr>
        }
    </tbody>
</table>
