<li>
    <a asp-controller="Blogs" asp-action="BlogDetails">
        <div>
            <p>image</p>
            <p>title</p>
            <p>title</p>
            <p>Category</p>
        </div>
    </a>
</li>