<div class="col-6">
    <a asp-controller="Blog" asp-action="EditBlog" class="btn btn-primary form-control">Blog</a>
</div>
<br />

<div class="col-6">
    <a asp-controller="Album" asp-action="EditAlbum" class="btn btn-primary form-control">Album</a>
</div>
<br />