<div class="col-6">
    <a asp-controller="Blog" asp-action="EditBlog" class="btn btn-primary form-control">Blog</a>
</div>
<br />

<div class="col-6">
    <a asp-controller="Photo" asp-action="EditPhoto" class="btn btn-primary form-control">Photo</a>
</div>
<br />