<h2>Client Login</h2>
<form asp-action="Login" method="post">
    <div>
        <label for="username">Username</label>
        <input name="username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" type="password" />
    </div>
    <button type="submit">Sign In</button>
</form>
